on:
  push:
    branches:
      - master
  pull_request: {}

name: Continuous integration

env:
  MIRIFLAGS: -Zmiri-strict-provenance

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}-${{ github.event_name == 'push' && github.run_number }}
  cancel-in-progress: true

jobs:
  check:
    name: Check
    runs-on: ubuntu-latest
    strategy:
      matrix:
        rust:
          - stable
    steps:
      - uses: actions/checkout@v1
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: ${{ matrix.rust }}
          override: true
      - uses: actions-rs/cargo@v1
        with:
          command: check
          args: --all

  test-matrix:
    name: Test Suite
    runs-on: ubuntu-latest
    strategy:
      matrix:
        rust:
          - stable
          - beta
          - nightly
          - 1.65.0 # msrv
        features:
          - "" # default
          - --no-default-features
          - --no-default-features --features track-caller
          - --no-default-features --features auto-install
          - --no-default-features --features capture-spantrace
          - --no-default-features --features issue-url
          - --features pyo3
          - --all-features
        # skip the following because pyo3 doesn't support this msrv
        exclude:
          - rust: 1.65.0
            features: --features pyo3
          - rust: 1.65.0
            features: --all-features
    steps:
      - uses: actions/checkout@v1
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: ${{ matrix.rust }}
          override: true
      - uses: actions-rs/cargo@v1
        with:
          command: test
          args: --all ${{ matrix.features }}

  test-os:
    name: Test Suite
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macOS-latest]
    steps:
      - uses: actions/checkout@v1
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          profile: minimal
          override: true
      - uses: actions-rs/cargo@v1
        with:
          command: test
          args: --all

  # Fix failing tests
  # test-wasm:
  #   name: Test Suite (wasm)
  #   runs-on: ubuntu-latest
  #   steps:
  #     - uses: actions/checkout@v1
  #     - uses: actions-rs/toolchain@v1
  #       with:
  #         target: wasm32-unknown-unknown
  #         toolchain: stable
  #         override: true
  #     - name: install test runner for wasm
  #       run:  curl https://rustwasm.github.io/wasm-pack/installer/init.sh -sSf | sh
  #     - name: run wasm tests
  #       run: wasm-pack test --node
  #       working-directory: color-eyre

  fmt:
    name: Rustfmt
    runs-on: ubuntu-latest
    strategy:
      matrix:
        rust:
          - stable
    steps:
      - uses: actions/checkout@v1
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: ${{ matrix.rust }}
          override: true
      - run: rustup component add rustfmt
      - uses: actions-rs/cargo@v1
        with:
          command: fmt
          args: --all --check

  clippy:
    name: Clippy
    runs-on: ubuntu-latest
    strategy:
      matrix:
        rust:
          - stable
    steps:
      - uses: actions/checkout@v1
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: ${{ matrix.rust }}
          override: true
      - run: rustup component add clippy
      - uses: actions-rs/cargo@v1
        with:
          command: clippy
          args: --all-targets --all-features -- -D clippy::style -D clippy::suspicious -D clippy::complexity
  miri:
    name: Miri
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: nightly
          components: miri
          override: true
      - uses: actions-rs/cargo@v1
        with:
          command: miri
          args: test
